.chart-container {
  .header-container {
    display: flex;
    justify-content: space-between;

    .dropdown {
      flex-shrink: 0;
      align-self: flex-end;
    }
  }

  .chart-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
  }
}