.chart-container {
  .header-container {
    display: flex;
    justify-content: space-between;

    .dropdown {
      flex-shrink: 0;
      align-self: flex-end;
      padding-right: 1em;
    }
  }

  .line-chart {
    overflow-x: auto;
    overflow-y: hidden;
    background-color: whitesmoke;
  }
}
