@import "../../../_variables";

.dashboard-container {
  @media (min-width: $dashboard_breakpoint) {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  }

  > .dashboard-content-container {
    overflow-x: auto;
    padding-top: 1rem !important;

    > .ui.stackable.divided.two.column.grid {
      > .column {
        padding-bottom: 0 !important;
      }
    }

    > .buy-stock-container {
      overflow-x: hidden;
    }
  }
}
