@import "../../../_variables";

.dashboard-container {
  @media (min-width: $responsive_breakpoint) {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  }

  > .dashboard-content-container {
    // overflow-x: auto;
    padding-top: 1em !important;
    // Used to prevent horizontal scroll bar triggered on vertical scroll bar
    @media (max-width: $responsive_breakpoint) {
      padding-right: 7px !important; 
    }

    > .ui.stackable.divided.two.column.grid {
      > .column {
        padding-bottom: 0 !important;
      }
    }

    > .buy-stock-container {
      overflow-x: hidden;
    }
  }
}
