@import "../../../styles/_variables";

.dashboard-container {
  @media (min-width: $responsive_breakpoint) {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    // To match bottom segments corners
    border-radius: 0 0 0.28571429rem 0.28571429rem;
  }

  .dashboard-content-container {
    padding: 0.2rem !important;
    max-height: calc(100vh - 8.5rem);
    overflow-y: auto;
    border: 1px solid rgba(0, 0, 0, 0);

    @media (min-width: $responsive_breakpoint) {
      // Scroll dashboard content
      max-height: calc(100vh - 11.1rem);
      overflow-y: auto;
    }

    // Remove negative margins from semantic ui grid
    .ui.grid {
      margin: 0;
    }

    .buy-stock-container {
      overflow-x: hidden;
    }

    .sell-stock-container {
      // To account for height after stock is selected
      min-height: 17.9rem;
    }

    .add-funds-container {
      padding-top: 0.5rem;
    }
  }
}
