@import "../../../_variables";

.main-nav-menu.nav-bar {
  border-radius: 0 !important;
  box-shadow: 0px 4px 3px rgba(169, 169, 169, 0.7) !important;
  // For nav bar expanded state to appear appove dashboard at mobile res
  position: relative;
  z-index: 999;

  &.collapse > .item:not(.active) {
    display: none !important;
    @media (min-width: $responsive_breakpoint) {
      display: flex !important;
    }
  }

  // Make item black when collapsed at mobile resolutions
  @media (max-width: $responsive_breakpoint) {
    &.collapse > .item {
      background: rgb(27, 28, 29) !important;
    }
  }
}

.nav-toggle {
  position: fixed !important;
  right: 0.4rem;
  top: 0.4rem;
  z-index: 9999;
  color: #fff;
  margin: 0.5em !important;

  // No nav toggle for large format
  @media (min-width: $responsive_breakpoint) {
    display: none !important;
  }
}
