.dashboard-nav-menu {
  &.nav-bar {
    background-color: rgba(34, 36, 38, .15) !important;

    > .item {
      font-weight: bolder !important;
    }

    > .item.header {
      text-decoration: underline !important;
    }

    > .item.active {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    }
  }

  &.nav-dropdown {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 0 !important;

    > .dropdown {
      flex-grow: 1 !important;

      > .text {
      font-size: 1.1rem;
      font-weight: bolder;
      }
    }
  }
}
