$moneyGreen: #309234;

.dashboard-nav-container {
  // Styles for nav bav menu at large screens
  &.nav-bar {
    background-color: rgba(34, 36, 38, 0.15) !important;

    > .item {
      font-weight: bolder !important;
    }

    > .item.active {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    }
  }

  // Styles for nav dropdown menu at small screens
  &.nav-dropdown {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 0 !important;

    > .dropdown {
      flex-grow: 1 !important;

      > .text {
        font-size: 1.1em;
        font-weight: bolder;
      }
    }
  }

  &.nav-bar,
  &.nav-dropdown {
    // For Displaying funds
    > .item.header {
      text-decoration: underline !important;
      color: $moneyGreen !important;
    }
  }
}
