@import "../../styles/_variables.scss";

.layout-container {
  background-color: rgb(237, 238, 240);
  width: 100vw;
  height: 100vh;

  .layout-header {
    height: #{$headerHeight};
  }

  .layout-main-container {
    height: calc(100vh - #{$headerHeight});
    overflow-y: auto;

    .layout-main-content {
      max-width: 1000px;
      width: 100%;
      margin: 0 auto;
      padding: 0.75rem;
      overflow-y: auto;
      height: 100%;

      @media (min-width: $responsive_breakpoint) {
        height: calc(100vh - #{$headerHeight} - #{$footerHeight});
      }
    }

    .layout-footer {
      display: none;

      @media (min-width: $responsive_breakpoint) {
        height: #{$footerHeight};
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        > span {
          font-size: 1.1rem;
          font-weight: bold;

          // Add 1rem padding between each span
          padding: 0 0.5rem;
          &:first-child {
            padding-left: 0;
          }
          &:last-child {
            padding-right: 0;
          }
        }
      }
    }
  }
}
