.layout-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  > .layout-header {
    flex-shrink: 0;
    padding-bottom: 1em;
  }

  > .layout-main-content {
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-right: 1em;
    padding-left: 1em;
    flex-grow: 1;
    overflow: auto;
    min-height: 2em;
  }

  > .layout-footer {
    flex-shrink: 0;
    padding-top: 0.75em;
  }
}
